<% if @subsidiaries.empty? then %>
    Nenhuma filial cadastrada
<% else%>  
    <% @subsidiaries.each do |subsidiary|%>
        <p><%= link_to subsidiary.name, subsidiary_path(id: subsidiary.id)%></p> 
    <% end %>
<% end %>

<%= link_to 'Registrar uma nova filial', new_subsidiary_path %>

<%= link_to 'Voltar', root_path %>
