<% if @subsidiaries.empty? then %>
    Nenhuma filial cadastrada
<% else%>  
    <% @subsidiaries.each do |subsidiary|%>
        <%= link_to subsidiary.name, subsidiary_path(id: subsidiary.id)%> 
    <% end %>
<% end %>

<a href="<%= root_path %>">Voltar</a>