<% if @car_categories.empty? then %>
    Nenhuma categoria cadastrada
<% else%>
    <% @car_categories.each do |category| %>
        <%= link_to category.name, car_category_path(id: category.id)%>  
    <% end %>
<% end %>

<a href="<%= root_path %>">Voltar</a>
<%= link_to 'Registrar uma nova categoria', new_car_category_path%>
