<% @car_models.each do |model| %>
  <%= link_to model.name, car_model_path(id: model.id)%>
  <p><%= model.year%></p>
  <p><%= model.manufacturer%></p>
  <p><%= model.car_category.name%></p>
  
<% end %>